.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 23px;
  font-size: 20px;
}

.container {
  width: 850px;
  margin: 0 auto;
}

.menu {
  text-align: center;
  width: 90%;
}

body {
  background-color: black;
}

#title {
  font-family: monospace;
  font-size: 90px;
  margin-bottom: 20px;
}

footer {
  color: grey;
  font-size: 10px;
  text-align: center;
}
